window {
  margin: 0px;
  border: 1px solid #8f9099;
  background-color: #121318;
}

#input {
  margin: 5px;
  border: none;
  color: #e2e2e9;
  background-color: #1e1f25;
}

#inner-box,
#outer-box {
  margin: 5px;
  border: none;
  background-color: #121318;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #e2e2e9;
}

#entry:selected {
  background-color: #404759;
}

#entry image {
  margin-right: 10px;
  min-width: 24px;
  min-height: 24px;
}

