window {
  margin: 0px;
  border: 1px solid #979080;
  background-color: #16130b;
}

#input {
  margin: 5px;
  border: none;
  color: #e9e2d4;
  background-color: #221f17;
}

#inner-box,
#outer-box {
  margin: 5px;
  border: none;
  background-color: #16130b;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #e9e2d4;
}

#entry:selected {
  background-color: #4f462a;
}

#entry image {
  margin-right: 10px;
  min-width: 24px;
  min-height: 24px;
}

