window {
  margin: 0px;
  border: 1px solid #9c8f80;
  background-color: #18120b;
}

#input {
  margin: 5px;
  border: none;
  color: #ede0d4;
  background-color: #251f17;
}

#inner-box,
#outer-box {
  margin: 5px;
  border: none;
  background-color: #18120b;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #ede0d4;
}

#entry:selected {
  background-color: #57432b;
}

#entry image {
  margin-right: 10px;
  min-width: 24px;
  min-height: 24px;
}

